*{
    font-family: "Nunito", san-serif;
}
body{

    background-color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
    height: 50vh;
    padding-left: 50px;
    padding-right: 50px;
}
/* .Navbar styling start here*/
.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    height: 50px;
    margin-bottom: 200px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.icon img{
    width: 10rem;
}
.navlinks a{
    text-decoration: none;
    color: teal;
}
.navlinks{
    justify-content: space-around;
    display: flex;
    gap: 5rem;
}
.navbutton{
    background-color: teal;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: teal;
}
.navbutton a{
    text-decoration: none;
    color: white;
}
.first{
    display: flex;
}
.text {
    padding: 40px;
}
.text h1{
    width: 20rem;
}
.edition{
    font-size: 1rem
}
.text p{
    width: 30rem;
}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 20px;
}
.grid {
    width: 50px;
}
.grid img {
    width: 30rem;
    height: 100%;
    border-radius: 10px;
}
.container{
    background-color: teal;
    /* height: 70%; */
    /* width: 100%; */
    color: white;

}
.head{
    padding-left: 21rem;
    font-size: 20px;
}
.alphabet{
    display: flex;
    justify-content: space-evenly;
}
.overview{
    max-width: 25rem;

}
.overview p{
    max-width: 45rem;
}
.instinct a{
    color: teal;
    text-decoration: none;
    font-weight: bolder;
}
/* my styling start here */
.fourth {
    margin-top: 5rem;
}
.meta {
    display: flex;
    gap: 7rem;
    padding-top: 3rem;
}
.meta2 {
    display: flex;
    gap: 7rem;
    padding-top: 3rem;
}
.fifth {
    margin-left: 20rem;
    line-height: 10rem;
    margin-top: 7rem;
}
.fifth .meta a{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: TEAL;
    color: white;
    border-radius: 1rem;
    margin-left: 12rem;
    font-weight: bolder;
}

